{% extends 'LanguageExchange/base.html' %}
{% load staticfiles %}



{% block body_block %}
<h1>Login to Rango</h1>
<form id="Send" method="post" action="{% url 'send' %}">
    {% csrf_token %}
    name: <input name="name" type="text" maxlength="60" style="width:350px;" />
    <br />
    fromEmail: <input name="fromEmail" type="text" maxlength="60" style="width:350px;" />
    <br />
	com:<textarea name="com" rows="10" cols="60" style="width:350px;"></textarea>
    <input type="submit" value="submit" />
</form>
{% endblock %}